@model WebApplication5.Models.KeywordsDepartment

@{
    ViewBag.Title = "Details";
}

<h2>Details about keyword</h2>

<div>
    <h4>Keywords for department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Department.DepartmentName, "Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KeywordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
