@model WebApplication5.Models.Agent

@{
    ViewBag.Title = "Details";
}

<h2>Details About Agent</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Ticket Title</th>
                    <th>Ticket Creation Date</th>
                </tr>
                @foreach (var item in Model.Assignments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.CreatedAt)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
